<mat-table [dataSource]="dataSource">
    <ng-container 
    [matColumnDef]="column" 
    *ngFor="let column of displayedColumns">
        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
        <td mat-cell *matCellDef="let emp"> {{emp[column]}} </td>
    </ng-container>
</mat-table>
<div class="lobbyMain">
<div>

    <button (click)="modalCreateGame()" type="button" class="btn btn-primary btn-createGame" data-toggle="modal"
    data-target="#exampleModal">
    Create Game
    </button>
    <button routerLink="/login" type="button" class="btn btn-primary btn-back">
        Back
    </button>
</div>
</div>