
@for $i from 1 through 10 {
    .PW_Anim#{$i}{
        animation: resizePW_Base 1s ;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-delay: #{$i * 0.5s};
    }
}
@-webkit-keyframes resizePW_Base
{
    0% {
    transform: scale(1);
    }
    50%{
    transform: scale(1.5);
    }
    100%{
    transform: scale(1);

    }
}


@-webkit-keyframes moveCoinPlace
{   0% {transform:  translateX(0vw)rotateY(0deg);}
  100% {transform:  translateX(4.7vw)rotateY(calc(180deg*2));}
}

@for $var from 1 to 6 {
    $mod: 4.6vw*$var;
    $base: 1.2vw;
    $total: $mod+$base;
@-webkit-keyframes moveCoinPlace#{$var}{
    0% {
        /*transform:  translateX(0vw);*/
    position: absolute;
    z-index: 50;}
    100% {transform:  
        /*rotateZ(calc(360deg))*/
        /*rotateX(calc(360deg))*/
        translateX(1.2vw) translateX(calc(4.6vw*#{$var})) 
        rotateY(calc(360deg*#{$var}))
        ;
    }
}
}
