
@for $i from 1 through 10 {
    .PW_Anim#{$i}{
        animation: resizePW_Base 1s ;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-delay: #{$i * 0.5s};
    }
}
@-webkit-keyframes resizePW_Base
{
    0% {
    transform: scale(1);
    }
    50%{
    transform: scale(1.5);
    }
    100%{
    transform: scale(1);

    }
}

:root{
    --placeDistance:calc(max(5.2vh,4.7vw));
    --distanceBasePR:  calc(max(1.2vh,1.2vw));
    --distanceByPR: calc(max(5.3vh,4.6vw));

}
@-webkit-keyframes moveCoinPlace

{   0% {transform:  translateX(0vw)rotateY(0deg);}
  100% {transform:  translateX(var(--placeDistance))rotateY(calc(180deg*2));}
}

@for $var from 1 to 6 {
    $mod: 4.6vw*$var;
    $base: 1.2vw;
    $total: $mod+$base;
@-webkit-keyframes moveCoinPlace#{$var}{
    0% {
    position: absolute;
    z-index: 50;}
    100% {transform:  
        translateX(var(--distanceBasePR)) translateX(calc(var(--distanceByPR)*#{$var})) 
        rotateY(calc(360deg*#{$var}))
        ;
    }
}
}
